################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demo/VS/.vs/iCVSSDK/v16
